/* **********     Reset CSS     ********** */
:root {  /*creo las varibles que voy a utilizar*/
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

html {  /*reset de html*/
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;  /*para el scroll,para que la transicion no subita cuando vayamos yendo de una seccion a otra */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}  /*para que los elementos del html herede el box sizing*/

body {  /*para que sea responsivo y fluido*/
  margin: 0;  /*reseteamos el margin a 0*/
  overflow-x: hidden;  /*para que todo lo que se desborde en horizontal se ocute*/
}

img,
video {
  max-width: 100%;
  height: auto;
}   /*para que las imagenes y videos se adapten a la maxima anchura de su contenedor*/

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **********     menu-hamburguesa     ********** */

.header {
  position: sticky;  /*lo que hace es que cuando llegue a la posicion 0 en el margen de top, el header se va comportar como si estuviera fija*/
  z-index: 997;
  top: 0;  /*es para el position*/
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header h1 {
  margin: 0 auto;  /*margin 0 arriba y abajo, auto a los lados*/
  text-align: center; /*texto centrado*/
}

.section {
  padding: 2rem;
  padding-top: 4rem;  /*para que la cabecera que esta con sticky no se encime sobre el titulo de la seccion*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);  /*max creciemiento*/
  min-height: 100vh;  /*aunque el contenido de cada seccion  sea mas pequeño, ocupe el tamaño de viewport*/
  text-align: center;
}

.panel {
  position: fixed;  /*posiciono de manera fija*/
  z-index: 998; /*un numero menor al que le di al panel-btn para que este sobre todos los elemento hmtl pero que este debajo del boton porque si esta por encima pierdo interactividad*/ 
  /*con top, bottom, left y right en 0 hace que el elemento se estire en todas las direcciones, toca todos los margenes*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease;
  /* De arriba */
  transform: translate(0, -100%);
  /* De abajo */
  transform: translate(0, 100%);
  /* De la derecha */
  transform: translate(100%, 0);
  /* De la izquierda */
  transform: translate(-100%, 0);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.panel-btn {
  position: fixed;  /*va estar posicionado de manera fija a 1vh de bottom y right(eso significa que se va colocar en la esquina inferior derecha*/
  z-index: 999; /*al darle un numero alto de z index, evito que cualquier elemento del html aparezca encima del boton */
  bottom: 1vh;  /*es para position*/
  right: 1vw;  /*es para position*/
  width: 4rem;  /*con width y height lo estoy formando como un cuadrado, pero con el border radius le estoy dando borde redondeado*/
  height: 4rem;
  border-radius: 50%;
  padding: 0;  /*le saco padding*/
  /*utilizo flex para que se centren perfectamente*/
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  width: inherit;  /*que herede la anchura de su contenedor */
  display: flex;  /*que tenga display flex en direccion columna */
  flex-direction: column;
  justify-content: space-evenly;  /*space evenly es el que le da espaciado proporcional entre los elementos y las orillas, trabaja sobre y*/
  /*alineo */
  align-items: center; /*trabajo sobre x*/
  text-align: center; /*centro el texto de menu*/
}

.menu a {  /*a los enlaces que estan dentro del menu les aplico estilos*/
  padding: 2rem;
  width: inherit;  /*que hereden la altura*/
  display: block; /*los vuelvo elementos de bloque*/
  font-size: 1.5rem;
  text-decoration: none;  /*le saco la linea de decoracion de los enlaces*/
  color: var(--main-color);
  transition: all 0.3s ease; /*le aplico transicion para que en el estado hover no sea tan subito el cambio sino con esa transicion de 0.3 segundos*/
}

.menu a:hover {  /*estilos para el estado hover*/
  font-weight: bold; /*cambio el tamaño de fuente*/
  color: var(--second-color);  /*cambio el color de letra(cuando pase con el mouse)*/
  background-color: var(--main-modal-color);  /*cambio el color de fondo(cuando pase con el mouse)*/
}

/* **********     Eventos del Teclado     ********** */

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* **********     ScrollTopButton     ********** */
.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* **********     DarkThemeButton     ********** */
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* **********     Network Status     ********** */
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
}

.offline {
  background-color: #b71c1c;
}

/* **********     SearchFilters     ********** */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}

.card img {
  width: 100%;
  height: auto;
}

.card figcaption {
  padding: 1rem;
}

.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/* **********     Responsive Slider     ********** */
.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  /* border: thin solid black; */
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}

.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.slider a:hover {
  color: #4d4d4d;
}

/* **********     ScrollSpy     ********** */
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main panel";
  }

  main {
    grid-area: main;
  }

  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    align-self: start;
    position: sticky;
    top: 4rem;
    justify-content: flex-start;
    background-color: var(--second-color);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
  }

  .panel-btn {
    display: none;
  }

  .menu {
    justify-content: start;
    text-align: right;
  }

  .menu a {
    padding: 0.75rem;
    font-size: 1rem;
  }

  .menu a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }

  .scroll-top-btn {
    right: initial;
    left: calc(4.25rem + 1vw);
  }
}

/* **********     ContactForm Validations     ********** */
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
